{% extends "customers/base.html" %}
{% block content %}
    <div style="text-align: center;">
        <form action="{% url 'register_as_worker' %}" method='GET'>
            <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Register As Worker</button>
        </form>
        <form action="{% url 'register_as_customer' %}" method='GET'>
            <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Register As Customer</button>
        </form>
    </div>

{% endblock content %}