{% extends "customers/base.html" %}
{% block content %}
{% load static %}

  <div class=".container-fluid py-1">
    <div class="d-flex justify-content-center">
      <div class="col-lg-8">
        <h2 class="display-4 font-weight-light d-flex justify-content-center">Our Team</h2>
        <p class="font-italic text-muted d-flex justify-content-center">A Helping Hand was developed for the purpose of CSE 216 Term Project.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class=" rounded shadow-sm py-5 px-4"><img src="{% static 'customers/sadia.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Mushtari Sadia</h5><span class="small ">Undergraduate Student<br> Dept of Computer Science & Engineering<br> BUET.</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class=" rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Fardin Hossain Oyon</h5><span class="small ">Undergraduate Student<br> Dept of Computer Science & Engineering<br> BUET.</span>
          </ul>
        </div>
      </div>
      <!-- End-->


    </div>
  </div>
</div>




{% endblock content %}