{% extends "customers/base.html" %}
{% block content %}
{% load render_table from django_tables2 %}
<head>

</head>

<body>
    <h1>Current Pending Requests</h1>
    <br>
    {%if emptyPending%}
        <p>There are currently no pending requests from you.</p>
    {% else %}
        {% render_table pendingtable %}
    {% endif %}
    <br>
    <br>
    <br>

    <h1>Group Requests</h1>
    <br>
    {%if emptyGrp%}
        <p>There are currently no group requests for you.</p>
    {% else %}
    <br>
    <p>The service provider(s) below require two other workers to complete your task.</p>
        {% render_table grouptable %}
    {% endif %}
    <br>
    <br>
    <br>


    <h1>Order History </h1>
    <br>
    {%if empty%}
        <p>You have no previous orders.</p>
    {% else %}
        {% render_table ordertable %}
    {% endif %}

</body>
{% endblock content %}