<a class="star-ratings-sprite" href="{% url 'rate_a_worker' 1 %}"><span style="width:10%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate_a_worker' 2 %}"><span style="width:10%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate_a_worker' 3 %}"><span style="width:10%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate_a_worker' 4 %}"><span style="width:10%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate_a_worker' 5 %}"><span style="width:10%" class="star-ratings-sprite-rate-custom"></span></a>
