<a class="star-ratings-sprite" href="{% url 'rate' 1 record.Order_id %}"><span style="width:15%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate' 2 record.Order_id %}"><span style="width:15%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate' 3 record.Order_id %}"><span style="width:15%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate' 4 record.Order_id %}"><span style="width:15%" class="star-ratings-sprite-rate-custom"></span></a>
<a class="star-ratings-sprite" href="{% url 'rate' 5 record.Order_id %}"><span style="width:15%" class="star-ratings-sprite-rate-custom"></span></a>
