{% load static %}
<html>
<head>
<link rel="icon" href="https://i.ibb.co/ykK7WKT/favicon.jpg">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'customers/main.css' %}">

    {% if title %}
        <title>A Helping Hand - {{ title }}</title>
    {% else %}
        <title>A Helping Hand</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home_customer-home' %}"><img src="https://i.ibb.co/YB8D1r9/logo2-removebg-preview.png" alt="A Helping Hand" width="129" height="36"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home_customer-home' %}">Home</a>
                {% if loggedIn %}
                    {%if user_type == "customer" %}
                        <a class="nav-item nav-link" href="{% url 'home_customer-orders' %}">Order History</a>
                    {% elif user_type == "worker" %}
                        <a class="nav-item nav-link" href="{% url 'home_worker-orders' %}">Service History</a>
                    {% else %}

                    {% endif %}
                    <a class="nav-item nav-link" href="{% url 'home_customer-profile' %}">My Profile</a>
                {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if loggedIn %}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}

            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    <div class="navbar-fixed-bottom">
            <div class="container">
                <div class="my-5">
                </div>
            </div>
          <div class="row">
            <div class="col-12 col-md">
              <img src="https://i.ibb.co/YB8D1r9/logo2-removebg-preview.png" alt="A Helping Hand" width="250" height="60">
              <small class="d-block mb-3 text-muted">&copy;2020</small>
            </div>
            <div class="col-6 col-md">
              <h5>Features</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool Features</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Privacy</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Terms</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Communication</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'contact' %}">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About Us</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'team' %}">Team</a></li>
              </ul>
            </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
              <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </div></main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>